.Search-input {
    width: 100%;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 2px solid #c0c0c0ab;
    font-size: 16px;
}

.Search-input:focus {
    outline: none;
}